#hero {
    height: 90vh;
    width: 100%;
    background-color: var(--tan);


    @include xl {
        display: grid;
        grid-template-areas: ". hero .";
        grid-template-columns: auto 1440px auto;

    }

    >div {
        overflow: hidden;
        height: 100%;

        @include xl {
            grid-area: hero;
        }
    }

    article {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-image: url('../img/hero.png');
        background-position: center;
        background-size: cover;

        #hero-content {
            color: var(--white);
            ;
            text-align: center;

            h1 {
                font-family: 'Inter', sans-serif;
                font-size: rem-calc(150);
                font-weight: 500;
                line-height: 117px;
                text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
                margin: 0;
                padding-bottom: 30px;

                @include md {
                    font-size: rem-cal(90);
                }

                @include lg {
                    font-size: rem-cal(100);
                }
            }

            h2 {
                font-family: 'Inter', sans-serif;
                font-size: rem-calc(32);
                font-weight: 300;
                line-height: 47px;
                text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
                margin-top: -25px;

                @include md {
                    font-size: rem-cal(40);
                    margin-top: -20px;
                }

                @include lg {
                    font-size: rem-cal(40);
                    margin-top: -15px;
                }
            }

        }
    }
}