#section-1{

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tan);
    color: var(--white);
    text-align: center;

    #cookies{
        background-image: url("../img/hero.png");
        background-size: cover;
    }


    h1 {
        font-family: 'Inter', sans-serif;
        font-size: rem-calc(150);
        font-weight: 500;
        line-height: 117px;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
        margin: 0;
        padding-bottom: 50px;

        @include md {
            font-size: rem-cal(90);
        }

        @include lg {
            font-size: rem-cal(100);
        }
    }

    h2 {
        font-family: 'Inter', sans-serif;
        font-size: rem-calc(40);
        font-weight: 300;
        line-height: 47px;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: -25px;
        display: block;
        color: var(--white);
        ;

        @include md {
            font-size: rem-cal(40);
            margin-top: -20px;
        }

        @include lg {
            font-size: rem-cal(40);
            margin-top: -15px;
        }
    }

}
